header {
    display: flex;
}
.avatar img {
    border:10px solid black ;
    border-radius: 50%; 
    padding: 5%;
    height: 50px;
    width: 50px;
    margin-top: 50%;
}
.nome{
    padding: 1%;
}
.navbar{
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}
a:hover{
    color: blue;
}