 /* estilização do cabeçalho */
body{
    background-color: blueviolet;
    font-family: 'DM Serif Display', serif;
    font-family: 'Merriweather', serif;
}
header {
    display: flex;
    background-color: rgb(60, 60, 117);
}
.avatar img {
    border:10px solid black ;
    border-radius: 50%; 
    padding: 5%;
    height: 50px;
    width: 50px;
    margin-top: 50%;
}
.nome{
    padding: 1%;
}
/* estilização da navbar */
.navbar{
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 4%;
    margin-top: 2%;
}
a {
    text-decoration: none;
    color: oldlace;
}
a:hover{
    color: blue;
}
/* estilização dos parágrafos */
p {
    border-radius: 15%;
    padding: 2%;
    background-color: rgb(60, 60, 117);
}
.lista{
    background-color: rgb(60, 60, 117);
}
/* estilização do formulário */
input[type="email"],
textarea {
    width: 70%;
    padding: 12px;
    margin: 1%;
    box-sizing: border-box;
    border-style:ridge;
}
.botao{
    font-family: 'DM Serif Display', serif;
    font-family: 'Merriweather', serif;
    background-color: rgb(0, 0, 0);
    border-radius: 1%;
    color: oldlace;
}
.botao:hover{
    font-family: 'DM Serif Display', serif;
    font-family: 'Merriweather', serif;
    background-color: oldlace;
    border-radius: 1%;
    color: rgb(0, 0, 0);
}
